#FAQs

<details>
<summary class="question">
1. How do I generate the API key ?
</summary>
<p class="answer">
Please reach out to your SI team SPOC for generating your lead source and API key as part of onboarding process.
</p>
</details>

<details>
<summary class="question">
2. How do I test the APIs?
</summary>
<p class="answer">
Once the team shares the UAT API key, complete the integration process and drop and email to Help.partnerdb@lendingkart.com for final signoff on your API integration.
</p>
</details>

<details>
<summary class="question">
3. How do I get the Prod API key?
</summary>
<p class="answer">
Once the UAT test integration is approved by Lendingkart team after testing the end to end flow, Production key will be shared.
</p>
</details>

<details>
<summary class="question">
4. I am using APIs to input Application data along with Documents. How do I track the data ?
</summary>
<p class="answer">
Login to your partner dashboard using the credentials shared for your channel and track the applications.
</p>
</details>

<details>
<summary class="question">
5. How do I track the Status of applications in my own platform ?
</summary>
<p class="answer">
You can use the Application status and document status APIs to fetch the most recent status that can be shown on your platforms.
</p>
</details>

<details>
<summary class="question">
6. I am facing issues in Reconciliation. The Application data shown in Partner Dashboard isn't matching to the API requests at our end.
</summary>
<p class="answer">
Please mail us at Help.partnerdb@lendingkart.com and our team will help you in the reconciliation process. 
</p>
</details>

<details>
<summary class="question">
7. How much time does it usually take for the API go live process ?
</summary>
<p class="answer">
This completely depends on the effort required in integrating our APIs. We normally respond within 24 hours on your queries related to API integrations. We have seen Partners going live within one week. 
</p>
</details>

<details>
<summary class="question">
8. I am not able to see all the leads I pass to Lendingkart on Partner dashboard. What is the issue here ?
</summary>
<p class="answer">
Partner dashboard only shows non duplicate rejected leads recorded in the system. You can download the lead report to check all the exhaustive leads passed to the reconciliation. 
</p>
</details>

